@use './../utils';
@use './../variables';
@use 'sass:color';

.entry {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.entry__content-block {
  display: contents;
}

.entry__title {
  margin-bottom: utils.rem(40px);
  order: 1;
  text-align: center;
}

.entry__description {
  order: 2;
}

.entry__button {
  background: variables.$primary;
  color: variables.$white;
  border-radius: utils.rem(10px);
  width: 100%;
  padding: utils.rem(20px) utils.rem(80px); // utils.rem(16px) utils.rem(80px)
  cursor: pointer;
  box-shadow: 0 12px 25px -10px variables.$primary;
  order: 4;
}

.entry__button:hover {
  background: color.adjust(variables.$primary, $lightness: -5%);
}

.entry__button:active {
  background: color.adjust(variables.$primary, $lightness: -15%);
}

.entry__picture {
  margin: calc(#{utils.rem(25px)} + 1vw) 0;
  flex-grow: 1;
  order: 3;

  & > img {
    width: 100%;
  }
}

@media screen and (width >= 900px) {
  .entry {
    flex-direction: row;
  }

  .entry__content-block {
    display: flex;
    flex-direction: column;
    align-self: stretch;
  }

  .entry__title {
    text-align: start;
  }

  .entry__description {
    margin-bottom: utils.rem(115px);
  }

  .entry__button {
    width: utils.rem(242px);
    padding: utils.rem(16px) utils.rem(80px);
  }

  .entry__picture {
    margin: 0;
    height: calc(#{utils.rem(300px)} + 13vw);

    & > img {
      height: 100%;
      width: auto;
    }
  }
}
