@use './variables';
@use './utils';
@use './../libs/modal/modal';

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

@supports (scrollbar-color: auto) {
  * {
    scrollbar-color: variables.$primary variables.$black;
    scrollbar-width: thin;
  }
}

@supports selector(::-webkit-scrollbar) {
  * {
    scrollbar-color: auto;
    scrollbar-width: auto;
  }

  *::-webkit-scrollbar {
    background: variables.$black;
    width: 6px;
  }

  *::-webkit-scrollbar-thumb {
    background: variables.$primary;
    border-radius: 6px;
  }
}

html,
body {
  font-family: Ubuntu, sans-serif;
  color: variables.$black;
  background: variables.$white;
  margin: 0;
  overflow: hidden;
  line-height: 1.5;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

button {
  border: none;
  cursor: pointer;
  user-select: none;
}

main {
  width: 100vw;
  height: 100dvh;
  overflow: auto;
}

.title {
  line-height: 1.5;
  margin: 0;
}

.title--h1 {
  font-size: utils.rem(35px);
}

.title--h2 {
  font-size: utils.rem(25px);
}

.title--h3 {
  font-size: utils.rem(20px);
}

.title--h5 {
  font-size: utils.rem(16px);
}

p {
  margin: 0;
}

.text {
  line-height: 1.5;
}

.text-block--centered {
  text-align: center;
  margin: auto;
}

.text--extended-height {
  line-height: 1.875;
}

.medium-text {
  font-size: utils.rem(16px);
}

.small-text {
  font-size: utils.rem(14px);
}

@media screen and (width >= 900px) {
  .title--h1 {
    font-size: utils.rem(50px);
  }

  .title--h2 {
    font-size: utils.rem(40px);
  }

  .title--h3 {
    font-size: utils.rem(30px);
  }
}

img {
  user-select: none;
}

.stars-group {
  display: flex;
}

.stars-group__star {
  color: variables.$black-extra;
  line-height: 1;
  height: utils.rem(16px);
  aspect-ratio: 1;

  &:not(:last-child) {
    margin-right: utils.rem(16px);
  }

  &--colorized {
    color: variables.$secondary;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      right: 50%;
      bottom: 50%;
      transform: translate(50%, 50%);
      background: rgba(variables.$secondary, 0.4);
      filter: blur(5px);
      width: utils.rem(10px);
      aspect-ratio: 1;
    }
  }
}
