@use 'sass:color';
@use './fonts';
@use './global';
@use './utils';
@use './variables';

.entry {
  display: flex;
  align-items: center;
}

.entry__content-block {
  display: flex;
  flex-direction: column;
}

.entry__title {
  margin-bottom: utils.rem(40px);
}

.entry__description {
  margin-bottom: utils.rem(200px);
}

.entry__button-wrapper {
  position: relative;
}

.entry__small-image {
  position: absolute;
  width: 100%;
  max-width: calc(#{utils.rem(300px)} + 10vw);
  right: 50%;
  top: 0;
  transform: translateY(calc(-100% - #{utils.rem(15px)})) translateX(50%);

  & > img {
    width: 100%;
  }
}

.entry__button {
  background: variables.$primary;
  color: variables.$white;
  border-radius: utils.rem(10px);
  width: 100%;
  padding: utils.rem(20px) utils.rem(80px); // utils.rem(16px) utils.rem(80px)
  cursor: pointer;
}

.entry__button:hover {
  background: color.adjust(variables.$primary, $lightness: -5%);
}

.entry__button:active {
  background: color.adjust(variables.$primary, $lightness: -15%);
}

.entry__image-block {
  display: none;
  flex-grow: 1;
}

.medium-section,
.wide-section {
  max-width: 100%;
  margin: 0 utils.rem(30px);
}

.medium-section {
  max-width: utils.rem(1200px);
}

.wide-section {
  max-width: utils.rem(1300px);
}

@media screen and (width >= 600px) {
  .entry__description {
    margin-bottom: utils.rem(230px);
  }

  .entry__small-image {
    max-width: none;
    left: 0;
    right: auto;
    top: 0;
    transform: translateY(calc(-100% - #{utils.rem(15px)}));
  }
}

@media screen and (width >= 800px) {
  .medium-section {
    margin: 0 utils.rem(80px);
  }

  .wide-section {
    margin: 0 utils.rem(50px);
  }

  main > section:first-of-type {
    padding-top: utils.rem(40px);
  }
}

@media screen and (width >= 900px) {
  main > section:first-of-type {
    padding-top: utils.rem(60px);
  }

  .entry__button {
    width: utils.rem(242px);
    padding: utils.rem(16px) utils.rem(80px);
  }

  .entry__small-image {
    display: none;
  }

  .entry__image-block {
    display: block;
  }
}

@media screen and (width >= 1440px) {
  .medium-section,
  .wide-section {
    margin: 0;
  }
}
